CLASIFICADOR_MODEL_NAME=clasificador_productos_v1
HOMOLOGADOR_MODEL_NAME=homologador_productos_v1

#PORTALES
SQL_PORTALES_1_HOST_DB=
SQL_PORTALES_1_USER_DB=
SQL_PORTALES_1_PASSWORD_DB=
SQL_PORTALES_1_DATABASE_DB=
SQL_PORTALES_1_PORT_DB=
SQL_PORTALES_1_NOMBRE=

#IQUITOS Sede
SQL_CSM_IQUITOS_HOST_DB=
SQL_CSM_IQUITOS_USER_DB=
SQL_CSM_IQUITOS_PASSWORD_DB=
SQL_CSM_IQUITOS_DATABASE_DB=
SQL_CSM_IQUITOS_PORT_DB=
SQL_CSM_IQUITOS_NOMBRE=

#PUCALLPA Sede
SQL_CSM_PUCALLPA_HOST_DB=
SQL_CSM_PUCALLPA_USER_DB=
SQL_CSM_PUCALLPA_PASSWORD_DB=
SQL_CSM_PUCALLPA_DATABASE_DB=
SQL_CSM_PUCALLPA_PORT_DB=
SQL_CSM_PUCALLPA_NOMBRE=